{$DOMAIN_NAME} {
    handle_path /payments/* {
        request_header X-Base-Path /payments
        reverse_proxy app:80
    }

    handle {
        reverse_proxy app:80
    }

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
        -Server
    }
}
